@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Roboto:700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
}

/* NAVIGATION */

.navbar-brand img {
    width: 32px;
    height: 32px;
}

#mainNavbar .nav-link {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    height: 3rem;
}

#mainNavbar .nav-link a {
    height: 40px;
}

#mainNavbar .nav-link a:hover {
    border-bottom: 3px solid #FF6700;
    cursor: pointer;
}

/* FIRST SECTION */

#first-section {
    background: linear-gradient(95.21deg, #F6F7FA 37.39%, #E2E4EA 54.64%, #C1C5D0 99.92%);
}

.kettle {
    width: 65%;
    padding-top: 2rem;
}

.lft-block h2 {
    font-weight: 700;
    font-size: 28px;
    color: #363636;
}

.lft-block p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

#s-price {
    font-weight: 600;
}

#s-price span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-left: 5%;
}

.btn {
    border-radius: 40px;
    background-color: #FF6700;
    color: #fff;
    width: 16rem;
    font-weight: 500;
    font-size: 16px;
    border: none;
    margin-bottom: 2rem;
}

/* SECOND SECTION */

.second-all {
    align-items: center;
}

.second-content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #363636;
    padding-bottom: 1rem;
}

.second-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* THIRD SECTION */

.third-content h2 {
    font-weight: 700;
    font-size: 22px;
    color: #5C5C5C;
    line-height: 34px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.third-content p {
    font-size: 12px;
    line-height: 22px;
    width: 90%;
    margin: auto;
}

.card-body img {
    padding-bottom: 1rem;
}

.imgs {
    height: 100%;
    display: block;
    margin: auto;
}

#third-section {
    background-color: #F7F7F7;
}

.carousel-text {
    font-weight: 600;
    font-size: 14px;
    color: #484848;
}

/* FOUR SECTION */

#four-section {
    padding-bottom: 2rem;
}

.four-content h2 {
    font-weight: 700;
    font-size: 24px;
}

.four-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.form-order {
    border-radius: 40px;
    width: 16rem;
}

#tea-pic {
    z-index: -1;
    position: absolute;
}

/* FIVE SECTION */

#five-section {
    background-color: #F6F6F6;
}

.text-block h2 {
    font-weight: 700;
    font-size: 24px;
}

.text-block p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
}

/* SIX SECTION */

#six-section {
    background-image: url(img/Section6/Slice\ 1.png);
    background-size: cover;
    background-position: center;
}

.six-content h2 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 1rem;
}

.form-order {
    margin-bottom: 15px;
    padding: 8px 20px;
}

.form-order:last-child {
    margin-bottom: 20px;
}

form {
    margin-bottom: 1rem;
}


/* FOOTER SECTION */

footer {
    background-color: #F5F5F5;
}

.f-content {
    padding-top: 2rem;
}

.f-content a {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.f-content a:hover {
    color: #484848;
}

.f-content li:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}

.f-left {
    padding-bottom: 1rem;
}

.copyright {
    border-top: 1px solid #CFD0D7;
}

.copyright p {
    font-size: 12px;
    color: #898989;
    font-weight: 400;
    padding-top: 1rem;
}

@media (min-width: 768px) {

    /* NAVIGATION */
    #mainNavbar .nav-link {
        font-size: 16px;
    }

    /* THIRD SECTION */
    .card-body img {
        width: 160px;
        height: 160px;
        min-width: auto;
    }

    /* FIVE SECTION */
    .text-block {
        align-self: center;
    }

    /* SIX SECTION */
    #six-section {
        background-image: url(img/Section6/kettler.png);
    }

    form {
        margin-bottom: 0;
    }

    .six-content {
        margin-left: 40%;
    }

    .six-content .btn {
        width: 13.5rem;
    }
}

@media (min-width: 1024px) {

    /* NAVIGATION */
    #mainNavbar .nav-link a {
        height: 35px;
    }

    /* FIRST SECTION */
    .lft-block h2 {
        font-size: 30px;
    }

    .lft-block p {
        font-size: 16px;
        line-height: 26px;
    }

    /* SECOND SECTION */
    .second-content h2 {
        font-size: 30px;
        line-height: auto;
    }

    .second-content p {
        font-size: 16px;
        line-height: 28px;
    }

    /* THIRD SECTION */
    .third-content h2 {
        font-size: 30px;
    }

    .third-content p {
        font-size: 14px;
        line-height: 26px;
    }

    /* FOUR SECTION */
    .four-content h2 {
        font-size: 30px;
    }

    /* FIVE SECTION */
    .text-block h2 {
        font-size: 30px;
    }

    .text-block p {
        font-size: 18px;
        line-height: 28px;
    }

    /* SIX SECTION */
    #six-section {
        background-image: url(img/Section6/kettler.png);
    }

    .six-content h2 {
        font-size: 30px;
    }

    /* FOOTER SECTION */
    .f-content a {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {

    /* NAVIGATION */
    .nav-link {
        font-size: 18px;
        line-height: 28px;
    }


    #mainNavbar .nav-link a {
        height: 38px;
    }

    /* FIRST SECTION */

    .lft-block h2 {
        font-size: 48px;
    }

    .lft-block p {
        font-size: 18px;
    }

    /* SECOND SECTION */
    .second-content h2 {
        font-size: 40px;
        line-height: auto;
    }

    .second-content p {
        font-size: 18px;
        line-height: 26px;
    }

    /* THIRD SECTION */
    .third-content h2 {
        font-size: 40px;
    }

    .card-body p {
        font-size: 18px;
        line-height: 28px;
    }

    /* FIVE SECTION */
    .text-block h2 {
        font-size: 40px;
    }

    .img-block img {
        margin-right: 0;
    }

    /* SIX SECTION */
    #six-section {
        background-image: url(img/Section6/kettle-desktop.png);
        background-size: cover;
        height: 100vh;
    }

    .six-content h2 {
        font-size: 40px;
    }

    /* FOOTER SECTION */

    .f-content a {
        font-size: 16px;
        line-height: 28px;
    }
}